#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 100px;
  width: 300px;
}
h1,
span {
  font-family: cursive;
  font-size: 2rem;
  display: inline-block;
}
#selectColor {
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 10px;
}
